<app-header></app-header>

<div class="container m-4">
    <h1 class="text-center title p-2">Preguntas frecuentes</h1>
</div>

<div class="container m-4">
    
    <details class="details">
        <summary class="summary">¿Qué hacer en <a href="buscartuvuelo.com">buscartuvuelo.com</a></summary>
        <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions,
            award-winning fireworks and seasonal special events.</p>
    </details>
    <hr>
    <details class="details">
        <summary class="summary">¿Qué hacer en <a href="buscartuvuelo.com">buscartuvuelo.com</a></summary>
        <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions,
            award-winning fireworks and seasonal special events.</p>
    </details>
    <hr>
    <details class="details">
        <summary class="summary">¿Qué hacer en <a href="buscartuvuelo.com">buscartuvuelo.com</a></summary>
        <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions,
            award-winning fireworks and seasonal special events.</p>
    </details>
</div>