.navbar {
    background-color: #132A44;
    height: 30px;
}

.navbar-collapse {
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.logo-text {
    color: #fdf0d5;
    font-weight: 200;
}

.header-text {
    display: none;
}

.container-icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    background-color: #132A44;
}

.container-icon:hover {
    background-color: #fdf0d5;
}

.header-icon {
    font-size: 1.5rem;
    color: #fdf0d5;
}

.header-icon:hover {
    color: #132A44;
}

@media screen and (max-width: 768px) {
    .navbar {
        height: 50px;
    }

    .navbar-collapse {
        align-items: start;
        justify-content: center;
        height: 180px;
        background-color: #132A44;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 0 !important
    }

    .header-text {
        display: block;
        margin-left: 5px;
        margin-right: 15px;
        color: #fdf0d5;
    }

    .container-icon {
        flex-direction: row;
        align-items: center;
        justify-content: end;
        border-radius: 0px;
        width: 100%;
    }
}