<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand logo-text" href="/search-airport">buscatuvuelo.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class='bx bx-menu header-icon'></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/questions-answers"><div class="container-icon mt-4"><i class='bx bx-question-mark header-icon'></i><div class="header-text">Preguntas frecuentes</div></div></a>
                <a class="nav-link" href="/history"><div class="container-icon mt-4"><i class='bx bx-history header-icon'></i><div class="header-text">Historial de búsqueda</div></div></a>
            </div>
        </div>
    </div>
</nav>