<main class="container my-4">
    <h1 class="text-center title">Dónde sale mi vuelo.com <i class='bx bxs-plane-alt bx-tada'></i></h1>
</main>


<div class="container mt-4">
    <label for="selectElement" class="form-label">Escribe el nombre del aereopuerto al que deseas llegar <i class='bx bx-search-alt'></i></label>
    <select #selectElement class="form-control">
        <option value="">-- Selecciona --</option>
        <option value="1">Opción 1</option>
        <option value="2">Opción 2</option>
        <option value="3">Opción 3</option>
        <option value="4">Opción 4</option>
    </select>
</div>